<div class="auth-wrapper registerForm">
    <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
        <h1 class="h3 mb-3 font-weight-normal text-center">會員登入</h1>
        <table>
            <tr>
                <div class="form-group">
                    <input type="text" class="form-control mb-4" formControlName="username" placeholder="會員編號" required>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <input type="password" class="form-control mb-4" formControlName="password" placeholder="密碼">
                </div>
            </tr>
            <tr>
                <button type="submit" class="btn btn-block btn-primary">登入</button>
                <button (click)="toRegister()" class="btn btn-info">加入會員</button>
            </tr>
        </table>
    </form>
</div>